<!--The content below is only a placeholder and can be replaced.-->
<button (click)="hjService.virtualPageView('pvp-test')">PVP</button>
<button (click)="hjService.stateChange('state-change')">State Change</button>
<button (click)="hjService.tagRecording('tag-', 'tag-2')">Tag Recording</button>
<button (click)="hjService.trigger('trigger')">Trigger</button>
<button (click)="hjService.hj('hj-param')">hj(...)</button>
<button routerLink="/page-b">Next Page</button>
<button routerLink="/">Prev Page</button>

<pre>{{ log | json }}</pre>